:root {
  --primary: white;
  --secondary: rgb(180, 84, 243);
  --bg: black;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary);
  background-color: var(--bg);
}

.header {
  height: 7rem;
  font-weight: 700;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header span {
  color: var(--secondary);
}

.navigation {
  height: 5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation a {
  width: 12rem;
  padding: 1rem;
  border: 0.15rem var(--primary) solid;
  border-radius: 0.5rem;
  color: var(--primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.biodata {
  height: 45rem;
  display: flex;
  align-items: center;
}

.biodata .box {
  width: 30rem;
  margin-left: 10rem;
}

.biodata .box p {
  font-size: 1.3rem;
}

.biodata .box span {
  color: var(--secondary);
  font-weight: bold;
}

.biodata .box a {
  font-size: 1rem;
  color: var(--primary);
  text-decoration: none;
}

.biodata .box .link {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.photos {
  margin-left: 8rem;
}

.photos img {
  height: 25rem;
}

.skill {
  height: 40rem;
}

.skill .skill-head {
  height: 15rem;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill .images {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill .images img {
  height: 18rem;
}

.project {
  height: 45rem;
}

.project .project-head {
  height: 10rem;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
