:root {
  --primary: white;
  --secondary: rgb(180, 84, 243);
  --bg: black;
}

* {
  font: 1.1rem/2rem "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary);
  background-color: var(--bg);
}

.container {
  margin: auto;
  width: 60rem;
}

.header {
  margin: 5rem 0 0 0;
  text-align: center;
}

.header p {
  font-size: 2rem;
  font-weight: 700;
}

.header p span {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 700;
}

.navigation {
  margin: 5rem 0 0 0;
  text-align: center;
}

.navigation a {
  color: var(--primary);
  text-decoration: none;
  border: 0.1rem solid var(--secondary);
  padding: 0.5rem 2rem;
  margin: 0 5rem;
}

.navigation a:hover {
  color: var(--bg);
  background-color: var(--secondary);
}

.biodata {
  margin: 10rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biodata .box {
  width: 30rem;
}

.biodata .box p {
  margin: 0.5rem 0;
}

.biodata .box p span {
  color: var(--secondary);
  font-weight: 700;
}

.biodata .box .link {
  margin: 1.5rem 0 0;
}

.biodata .box .link a {
  color: var(--primary);
  text-decoration: none;
  margin: 0 4rem 0 0;
}

.biodata .photos {
  height: 20rem;
  width: 20rem;
  background-size: 20rem;
  background-image: url(images/photos.png);
  background-repeat: no-repeat;
  background-position: center;
}

.skill {
  margin: 15rem 0 0 0;
}

.skill .skill-head {
  text-align: center;
}

.skill .skill-head p {
  height: 5rem;
  font-size: 2rem;
  font-weight: 700;
}

.skill .images img {
  height: 10rem;
  margin: 0 3rem 0 6rem;
  border: 0.1rem dashed var(--secondary);
}

.skill .images img:hover {
  border: 0.1rem dashed var(--primary);
}

.project {
  height: 40rem;
  margin: 15rem 0 0 0;
  text-align: center;
}

.project .project-head p {
  height: 10rem;
  font-size: 2rem;
  font-weight: 700;
}

.project .project-1 {
  margin: auto;
  height: 17rem;
  width: 30rem;
  border: 0.1rem dashed var(--primary);
}

.project .project-1 img {
  height: 15rem;
  width: 29.9rem;
}

.project .project-1 p {
  margin-top: -0.6rem;
}

.project .project-1:hover {
  border: 0.1rem dashed var(--secondary);
  color: var(--secondary);
}

.footer {
  text-align: center;
}

.footer p {
  font-weight: 700;
}

.footer p span {
  color: var(--secondary);
  font-weight: 700;
}
